* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/background-dark.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  border: 1px solid red;
  width: 360px;
  height: 712px;
  margin: 56px auto 0;
}

#profile {
  border: 1px solid blue;
  width: 360px;
  height: 192px;
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

ul li a {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
}
