* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/background-desktop.png) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  border: 1px solid red;
  width: 360px;
  height: 712px;
  margin: auto;
}

#profile {
  border: 1px solid blue;
  width: 360px;
  height: 192px;
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}
